<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.sun.protectservice">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TestService"
            android:enabled="true"
            android:exported="true" />


        <activity android:name=".TestActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="audio/x-mpeg"></data>
            </intent-filter>
        </activity>


        <!--*****************有效途径*********************************************************************-->

        <!--彩笔乐视有效，其余无效-->
        <!--<service
            android:name=".accessibility.MAccessibilityService"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":assist">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>-->

        <!--系统应用策略，小米开发有效，魅族假root无效-->
        <!--<receiver
            android:name=".root.Rooted_Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="rooted" />
                <action android:name="simulateBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <service android:name=".root.Rooted_Service"></service>-->


        <!--*****************无效途径*********************************************************************-->
        <!--相互唤醒策略，无效-->
        <!--<service
            android:name=".protectservice.main.MainService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".protectservice.main.MainReceiver" />

        <service
            android:name=".protectservice.assist.AssistService"
            android:enabled="true"
            android:exported="true"
            android:process=":assist" />

        <receiver
            android:name=".protectservice.assist.AssistReceiver"
            android:process=":assist">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />;
                <action android:name="android.intent.action.USER_PRESENT" />;
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />;
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />;
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />;
                <action android:name="android.intent.action.AIRPLANE_MODE" />;
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />;
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>
        </receiver>-->

        <!--小组件策略，基本无效-->
        <!--<receiver android:name=".widget.MWidget">
            <intent-filter>
                <action android:name="test_aaa" />
                <action android:name="test_common" />
                <action android:name="MWidget_click" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_test" />
        </receiver>

        <receiver android:name=".widget.MAssistReceiver">
            <intent-filter>
                <action android:name="test_common" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>-->

        <!--nls策略，整体无效，傻的死死的-->
        <!--<service
            android:name=".NLService.NListenerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":remote_NLS">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NLService.NLSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="test_nls" />
            </intent-filter>
        </receiver>-->
        <!--前台服务策略，无效-->
        <!--<service
            android:name=".foregroundservice.ForeService"
            android:enabled="true"
            android:exported="true"
            android:process=":fore" />-->

        <!--闹铃通知,无效-->
        <!--<receiver android:name=".alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="audio_receiver" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />;
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />;
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />;
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />;
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />;
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIME_TICK" />
            </intent-filter>
        </receiver>-->

    </application>

</manifest>